<h1>Listing ems_data</h1>

<table>
  <thead>
    <tr>
      <th>Tagname</th>
      <th>Value</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ems_data.each do |ems_datum| %>
      <tr>
        <td><%= ems_datum.tagname %></td>
        <td><%= ems_datum.value %></td>
        <td><%= ems_datum.group %></td>
        <td><%= link_to 'Show', ems_datum %></td>
        <td><%= link_to 'Edit', edit_ems_datum_path(ems_datum) %></td>
        <td><%= link_to 'Destroy', ems_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ems datum', new_ems_datum_path %>
